$mainColors: (
    primary: #B8926A,
    background:#EAE6DF,
    bg-pink: #FFE2E0,
    dark-grey: #8c8a8a,
    grey-bg: #F7F9FC,
    grey-bgg:#F7F7F7,
    white: #FFFFFF,
    grey:#EBEBEB,
    
);
$textColors: (
    black: #2D2D2B,
    main-text-color:#FFFFFFE5,
    text-color:black,
    footer: #717171,


);
//umumi
$footer-text:#212121BF;
$radius: 0.8rem;
$black:#000000;

$background:#EAE6DF;
$primary:#B8926A;
$rose:#D4C8BE;
$rose-dusy:#D4C8BE ;

// $cardColors: (
//     greycard: #F5F5F5,
//     cardbg:#F9F9F9,

// );